[submodule ".vim/bundle/topfunky-light/colors"]
	path = .vim/bundle/topfunky-light/colors
	url = git://gist.github.com/424448.git
[submodule ".autoenv"]
	path = .autoenv
	url = git://github.com/kennethreitz/autoenv.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
