[user]
    name = Kyle Fuller
    email = inbox@kylefuller.co.uk

[core]
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[alias]
    up = pull --rebase
    wip = commit -m 'wip'
    rev = rev-parse HEAD

