[submodule ".vim/bundle/topfunky-light/colors"]
	path = .vim/bundle/topfunky-light/colors
	url = git://gist.github.com/424448.git
[submodule ".autoenv"]
	path = .autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule ".vim/bundle/jellybeans"]
	path = .vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/taskpaper"]
	path = .vim/bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = https://github.com/mattn/gist-vim
[submodule "Xcode5 Plugin.xctemplate"]
	path = Library/Developer/Xcode/Templates/Project Templates/Application Plug-in/Xcode5 Plugin.xctemplate
	url = https://github.com/kattrali/Xcode5-Plugin-Template
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle
