[user]
    name = Kyle Fuller
    email = kyle@fuller.li
    signingkey = 0x1BD589F06F8AADE3

[core]
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[alias]
    up = pull --rebase
    wip = commit -m 'wip'
    rev = rev-parse HEAD
    s = status -s
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    conflict = "!f() { git status -s | grep ^UU | awk '{print $2}' ; }; vim `f`"
    fixup = "!git log --oneline -n 20 | fzf | cut -d ' ' -f 1 | xargs git commit --no-verify --fixup"

[pull]
    ff = only

[push]
    default = current

[hub]
    protocol = https

[url "git@github.com:kylef"]
    insteadOf = https://github.com/kylef

[url "git@github.com:"]
    pushInsteadOf = https://github.com/

[url "git@gist.github.com:"]
    pushInsteadOf = https://gist.github.com/
